<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="blue-background">
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <% if user_signed_in? %>
            <%= render 'shared/nav.html.erb' %>
          <% else %>
            <%= render 'shared/website_nav.html.erb' %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>




  <%= js add_gritter(flash[:notice], :title => "Undertime Notification", :sticky => true) %>
  </body>
</html>
